body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
html{
    margin: 0;
    padding: 0;
}

.right{
   float: right;
}



a{
  color: gray;
  padding: 6px 12px;
  border-radius: 5px;
  
}
a:hover{
    background-color: gray;
    color: white;
}

.card{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
}

